body{
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Source Serif Pro', serif;
}
section.intro {
    margin: auto;
    padding: 100px 0;
    width: 1200px;
    height: 600px;
}
.intro-heading {
    padding-left: 15px;
}
.intro-heading:before {
    content: "";
    top: 115px;
    background: red;
    left: 162px;
    height: 115px;
    width: 5px;
    border-radius: 5px;
    position: absolute;
    visibility: visible;
}
.intro-heading  h1 {
    font-size: 60px;
    margin: 0;
}
.intro-text {
    width: 50%;
    float: left;
}
.intro-text p {
    font-size: 23px;
    line-height: 1.5;
}
.intro-photo {
    width: 40%;
    overflow: hidden;
}
.intro-photo img {
    width: auto;
    height: 550px;
    right: 15%;
    top: -40px;
    position: absolute;
}
.explore{
    padding: 15px 40px;
    background: #e9561b;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
}