body{
    margin: 0;
    font-family: 'Source Serif Pro', serif;
}
.intro, .projects, .quick-access, .hire {
    margin: auto;
    padding: 100px 0 0;
    width: 1200px;
    height: 600px;
}
.intro-heading{
    padding-left: 15px;
}
.intro-heading:before {
    content: "";
    top: 115px;
    background: red;
    left: 162px;
    height: 115px;
    width: 5px;
    border-radius: 5px;
    position: absolute;
    visibility: visible;
}
.intro-heading h1, .global-heading  h1, .project-heading h1, .call h1 {
    font-size: 60px;
    margin: 0;
}
.intro-text, .call {
    width: 52%;
    float: left;
}
.hire-bg {
    width: 40%;
    float: left;
}
.project-text, .call {
    overflow: hidden;
    min-height: 400px;
    width: 50%;
    padding-left: 10%;
}
.call {
    padding-top: 70px;
}
.hire-bg img {
    width: 80%;
    border-radius: 300px 100px 100px 100px;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 12%);
}
.intro-text p, .project-text, .call p {
    font-size: 20px;
    line-height: 1.5;
}
.intro-photo {
    width: 40%;
    overflow: hidden;
}
section.mission h1 {
    font-size: 50px;
    text-align: center;
}
.quick-access {
    display: flex;
}
.qc {
    width: 30%;
    margin-right: 4%;
    padding: 3%;
    height: 350px;
    border-radius: 20px;
}
.qc_one{
    background: #EDF5F6;
}
.qc_two{
    background: #FFEEEE;
}
.qc_three{
    background: #FFF4D6;
}
.qc img {
    width: 50%;
}
.projects-photo {
    width: 40%;
    float: left;
    background: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 247px;
    height: 300px;
    background-position: left 0 top 50px;
}
.projects-photo img {
    width: 27%;
    position: absolute;
    height: auto;
    padding-left: 90px;
}
.intro-photo img {
    width: auto;
    height: 500px;
    top: 50px;
    position: absolute;
}
.global-photo {
    background: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 198px;
    background-position: bottom 0 right 15px;
    height: 560px;
}
.global-photo img {
    width: auto;
    height: 480px;
    right: 15%;
    top: -40px;
}
.explore {
    padding: 15px 40px;
    background: #FF5959;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
}
footer {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 15px 0;
}